.order__title {
  text-align: center;
}

.order__container {
  width: 33%;
  float: left;
}

.order__content {
  padding: 20px;
}

.order__input-item {
  margin-bottom: 20px;
}

.order__input-item label {
  margin-right: 10px;
}

.order__textarea {
  width: 70%;
  border-radius: 3px;
  min-height: 100px;
}

.form__select-disables::before {
  display: none;
}
