// Breakpoints

.test-color-scheme {
  color: #2c2c2c;
  color: #04233e;
  color: #163866;
  color: #0174c6;
  color: #08c7fe;
  color: #fd9220;
  color: #bfc6cc;
  color: #eeeeee;
  color: #efefef;
  color: #CF1916;
}

$XS: 420px;
$S: 508px;
$M: 769px;
$L: 1054px;
$XL: 1300px;
$XXL: 1792px;

// Defaults

$backgroundPrimary: rgba(#000, 1);
$font: 'Roboto', sans-serif;

$colorPrimary: #163866;
$colorSecondary: #0174c6;
$colorTertiary: #08c7fe;
$colorDefault: #2c2c2c;
$colorDefaultInverted: #fff;
$colorNeutral: #bfc6cc;
$colorAccent: #fd9220;

$siteMarginBottom: 60px;
$sitePaddings: 45px;
$siteMaxWidth: 1366px;

///// ToDo: Remove this shit
//$backgroundPrimary: rgba(#efefef, 1);
//$colorPrimary: #666;
//$colorSecondary: #ccc;
//$colorTertiary: #999;
