// Breakpoints

$XS: 420px;
$S: 508px;
$M: 769px;
$L: 1054px;
$XL: 1300px;
$XXL: 1792px;

// Defaults

$backgroundPrimary: rgba(#000, 1);
$font: 'Roboto', sans-serif;

$colorPrimary: #fff;
$colorSecondary: #0e0e0e;
$colorTertiary: #222;
$colorDefault: #000;

$siteMarginBottom: 60px;
$sitePaddings: 45px;
$siteMaxWidth: 1366px;

///// ToDo: Remove this shit
//$backgroundPrimary: rgba(#efefef, 1);
//$colorPrimary: #666;
//$colorSecondary: #ccc;
//$colorTertiary: #999;
