.service {
  width: 100%;
  min-height: 400px;
}

.service__item {
  background: #fff;
  position: relative;
  margin: 0 auto 30px auto;;
  border: 1px solid #efefef;
  border-radius: 3px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  padding: 10px;
}

.service__wrap-avatar {
  width: 250px;
  height: 150px;
  float: left;
  border: 1px solid #dfe1d9;
  border-radius: 50%;
  overflow: hidden;
}

.service__wrap-avatar img {
  height: 100%;
}

.service__description {
  width: 70%;
  height: 200px;
  float: right;
  margin: 0 auto;
  background-color: #fff;
}

.service__title, .service__title h2 {
  margin: 0;
}

.service__specialization {
  color: #08c7fe;
  margin-bottom: 5px;
}

.service__skill {
  list-style: none;
  margin: 0;
  padding: 0;
}

.service__skill-item {
  background: #efefef;
  margin: 0 5px 5px 0;
  display: inline-block;
  padding: 3px 5px;
  font-size: 12px;
}

.service__text {
  width: 60%;
  float: left;
  font-style: italic;
  color: #333;
  padding-left: 3px;
  display: -webkit-box;
  line-height: 16px;
  max-height: 80px;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.service__excerpt {
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.service__adress {
  margin-bottom: 15px;
}

.star-rating {
  width: 80px;
  height: 20px;
  right: 15px;
  top: 20px;
  position: absolute;
}

.service__comment {
  width: 80px;
  height: 20px;
  position: absolute;
  right: 15px;
  bottom: 20px;
}

.service__comment a {
  color: #333;
}

.service__comment a:hover {
  text-decoration: underline;
}

.service__button {
  /*width: 28%;*/
  /*margin: 100px auto 0 auto;*/
}

.card {
    background: #fff;
    border: 1px solid #efefef;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.card__left {
    width: 30%;
    float: left;
}

.card__right {
    width: 70%;
    float: left;
}

.card__thumb {
    position: relative;
}

.card__thumb-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
}

.card__content {
    padding: 20px;
}

.card__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.card__list-item {
    background: #efefef;
    margin: 0 5px 5px 0;
    display: inline-block;
    padding: 3px 5px;
    font-size: 12px;
}
