.header {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #dfe1d9;
}

.header__wrapper {
  width: 1170px;
  margin: 0 auto;
  padding: 20px 0;
  box-sizing: border-box;
}

.header__logo {
  float: left;
  width: 200px;
  display: block;
}

.header__logo img {
  width: 100%;
}

.header__hint {
  margin-left: 30px;
  line-height: 35px;
  color: #00b1b3;
  cursor: pointer;
}

.header__hint:hover {
  text-decoration: underline;
}

.header__button {
  float: right;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
