.search {
  width: 46%;
  float: left;
  height: 220px;
  position: relative;
  margin: 30px 0 30px 34px;
  background-color: #faf9f7;
  border: 1px solid #dfe1d9;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.search__radio {
  display: block;
  margin: 0 auto 30px 0;
}

.search__type-user-lable {
  margin: 0 30px 0 5px;
}

.search__type-user {
  /*margin-right: 50px;*/
}

.search__region {
  margin-left: 5px;
}

.search__select {
  float: left;
}
