.search {
  background: #faf9f7;
  border: 1px solid #dfe1d9;
  box-sizing: border-box;
  padding: 20px;
  height: 220px;
  z-index: 1;
}

.search__radio {
  display: block;
  margin: 0 auto 30px 0;
}

.search__type-user-lable {
  margin: 0 30px 0 5px;
}

.search__type-user {
  /*margin-right: 50px;*/
}

.search__region {
  margin-left: 5px;
}

.search__select {
  float: left;
}
