.test-color-scheme {
    color: #2c2c2c;
    color: #04233e;
    color: #163866;
    color: #0174c6;
    color: #08c7fe;
    color: #fd9220;
    color: #bfc6cc;
    color: #eeeeee;
    color: #efefef;
    color: #CF1916;
}

html {
    font-size: 14px;
}

body {
    background: #f5f5f5;
    line-height: 1.2;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: #5e6e71;
}

h1, h2, h3, h4 {
    font-family: 'PT Sans Caption', sans-serif;
}

a {
    text-decoration: none;
}

img {
    width: 100%
}

.main-wrapper {
    max-width: 1170px;
    margin: 0 auto;
}

.clear:after {
    content:'';
    display:block;
    clear: both;
}

/* Grid system */

.main-container {
    max-width: 1200px;
    margin: 0 auto;
}

.main-row {
    margin: 0 -15px;
}

.main-content,
.main-sidebar {
    box-sizing: border-box;
    padding: 0 15px;
    float: left;
}

.main-content {
    width: 70%;
}

.main-sidebar {
    width: 30%;
}

/*  Button  */

.btn {
    border-radius: 3px;
    border: 1px solid transparent;
    padding: 6px 10px;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
}

.btn--primary {
    background: #007eca;
    color: #fff;
}

.btn--ghost {
    border: 1px solid #007eca;
    color: #007eca;
}


/* old buttons */


.btn-them-green {
    margin-left: 10px;
    background-color: #00b1b3;
    color: #fff;
}

.btn-them-green:hover {
    background-color: #069b9c;
}

.btn-them-border {
    color: #00b1b3;
    margin-left: 10px;
    border: 1px solid #00b1b3;
}

.btn-them-border:hover {
    color: #fff;
    background-color: #00b1b3;
}

