.card {
  background: #fff;
  border: 1px solid #efefef;
  border-radius: 3px;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 30px;
  @include clearfix;

  &__top {
    display: flex;

    &-left {
      float: left;
      width: 30%;
    }
    &-right {
      float: right;
      width: 70%;
    }
  }

  &__left {
    box-sizing: border-box;
    float: left;
    position: absolute;
    padding: 3px;
    width: 30%;
    height: 100%;
  }

  &__right {
    width: 70%;
    float: right;
  }

  &__thumb {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &-img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: auto;
      height: auto;
      max-height: 100%;
      max-width: none;
      min-height: 100%;
      min-width: 100%;
      transform: translate(-50%, -50%);
    }
  }

  &__content {
    padding: 20px 40px;
    @include clearfix;
  }

  // content

  &__title {
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 22px;
    color: $colorPrimary;

    &--micro {
      font-size: 16px;
    }
  }

  &__subtitle {
    margin-bottom: 3px;
  }

  &__adress {
    margin-bottom: 20px;
    color: $colorNeutral;
  }

  &__excerpt {
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__description {
    margin-bottom: 20px;
    line-height: 20px;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    &-item {
      background: #efefef;
      margin: 0 5px 5px 0;
      display: inline-block;
      padding: 3px 5px;
      font-size: 12px;
    }
  }

  &__buttons {
    padding-top: 10px;
    margin-left: -10px;
  }

  &__corner {
    width: 80px;
    height: 20px;
    right: 40px;
    position: absolute;

    &--top {
      top: 20px;
    }

    &--bottom {
      bottom: 20px;
    }

    a {
      color: #333;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  // table

  &__table {
    border: 1px solid #f7f7f7;
    margin: 15px 0 30px;
    width: 100%;

    &-row {
      background: #f7f7f7;
      padding: 10px;
      @include clearfix;

      &:nth-child(odd) {
        background: #fff;
      }
    }

    &-cell {
      float: left;

      &:nth-child(2) {
        float: right;
        font-weight: bold;
        color: $colorDefault;
      }
    }
  }
}
