.modal {
  text-align: center;

  &__wrapper {
    border-radius: 0 !important;
    padding: 60px !important;
  }

  &__title {
    text-align: center;
  }

  &__form {
    width: 320px;
    text-align: center;
  }

  &__input {
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    box-shadow: 0 1px 2px #f2f2f2 inset;
    box-sizing: border-box;
    display: inline-block;
    margin-top: 20px;
    padding: 11px 10px;
    width: 100%;
    font: 15px/18px Arial, sans-serif;
    transition: border-color 0.2s ease;
    outline: 0 none;
  }

  &__checkbox {
    padding: 15px 0;
  }

  .btn-them-border {
    width: 50%;
    display: block;
    margin: 20px auto;
  }

  &__forgot-password {
    display: inline-block;
    text-align: center;
    color: #00b1b3;

    &:hover {
      text-decoration: underline;
    }
  }

  .social__list {
    text-align: center;
  }
}
