.main-container {
  padding: 0 15px 30px;
  max-width: 1200px;
  margin: 0 auto;
  @include clearfix;
}

.main-row {
  margin: 0 -15px;
}

.main-content,
.main-sidebar {
  box-sizing: border-box;
  padding: 0 15px;
  float: left;
}

.main-content {
  width: 100%;

  @include media(M) {
    width: 70%;
  }
}

.main-sidebar {
  width: 100%;

  @include media(M) {
    width: 30%;
  }
}

.main-home-left {
  float: left;
  width: 30%;
}

.main-home-right {
  float: left;
  width: 70%;
}
