.slider__main {
  height: 285px;
}

.slider__item {
  position: relative;
  height: 285px;
  overflow: hidden;
}

.slider__item-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  /*max-height: 100%;*/
  max-width: none;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);
}

.slider__main .slick-dots {
  bottom: 0;
}

.slider__banner-content {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 60px;
  left: 0;
  right: 0;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: 900;
}

.slider__main .btn-them-border {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
  top: 140px;
  max-width: 100px;
}

.slick-arrow {
  z-index: 10;
}

.slick-prev {
  left: 25px;
}

.slick-next {
  right: 25px;
}
